In [9]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

1. Employee who travel rarly have more chances for attrition

In [10]:
data[data['Attrition']=='yes'].BusinessTravel.value_counts()

Series([], Name: BusinessTravel, dtype: int64)

2.Employee who have 13% or low Percent salary hike have more chance for attrition

In [11]:
temp = data[data['Attrition']=='yes']
temp[temp.PercentSalaryHike<=13].PercentSalaryHike.value_counts().sum()

0

3. Employee with low education have low PercentSalaryHike and have more chances for attrition

4. Employee with more years since last promotion have high attrition rate

5. Employee with working as HR have higher attrition rate

6. Employee with other than life sciences, Medical,marketing ,techinacal degree and human resource have higher attrition rate

7. Employee who have worked for more than 4 companies have high attrition rate.

8. Employee who have more distance from home have high attrition rate.

9. Employee with less than 3 years of experience have high attrition rate

10. Employee with less than 3 times training since last year have high attrition rate